SOA/trunk/COMMONUTILITIES/SOAPalsNotification/SOAPalsNotificationApp/SOAPalsNotification/EngageSOADeltaTableDatabaseAdapterV1.wsdl

<?binding.jca EngageSOADeltaTableDatabaseAdapterV1_db.jca?>
<wsdl:definitions name="EngageSOADeltaTableDatabaseAdapterV1" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/SOAPalsNotificationApp/SOAPalsNotification/EngageSOADeltaTableDatabaseAdapterV1" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/SOAPalsNotificationApp/SOAPalsNotification/EngageSOADeltaTableDatabaseAdapterV1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/EngageSOADeltaTableDatabaseAdapterV1">
    <plt:partnerLinkType name="EngageSOADeltaTableDatabaseAdapterV1_plt">
        <plt:role name="EngageSOADeltaTableDatabaseAdapterV1_role">
            <plt:portType name="tns:EngageSOADeltaTableDatabaseAdapterV1_ptt"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/EngageSOADeltaTableDatabaseAdapterV1" schemaLocation="xsd/EngageSOADeltaTableDatabaseAdapterV1_table.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="EngageSoaDeltatableCollection_msg">
        <wsdl:part name="EngageSoaDeltatableCollection" element="top:EngageSoaDeltatableCollection"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:EngageSoaDeltatablePrimaryKey"/>
    </wsdl:message>
    <wsdl:portType name="EngageSOADeltaTableDatabaseAdapterV1_ptt">
        <wsdl:operation name="update">
            <wsdl:input message="tns:EngageSoaDeltatableCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:EngageSoaDeltatableCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
