SOA/trunk/PALS/E004/E004AccountPALStoPortal/E004AccountPALStoPortal/xsd/E004AccountPALStoPortal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://www.statoilfuelretail.com/integration/engage/E004AccountPALStoPortal/E004AccountPALStoPortal/E004AccountPALStoPortal"
        xmlns="http://www.w3.org/2001/XMLSchema">
     <element name="invocationMsg">
          <complexType>
               <sequence>
                    <element name="SenderSystem" type="string"/>
                    <element name="ReceiverSystem" type="string"/>
                    <element name="CountryCode" type="string"/>
                    <element name="BatchSize" type="integer"/>
                    <element name="BatchCount" type="integer"/>
                    <element name="DatabaseJNDI" type="string"/>
                    <element name="InterfaceID" type="string"/>
                    <element name="UserName" type="string"/>
                    <element name="LastInvokeFlag" type="string"/>
               </sequence>
          </complexType>
     </element>
</schema>