SOA/trunk/COMMONUTILITIES/SOARuleEngine/SOARuleEngineApp/SOARuleEngine/xsd/SelectRuleEngineSubscribtionsDBAdapterV1_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SelectRuleEngineSubscribtionsDBAdapterV1" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/SelectRuleEngineSubscribtionsDBAdapterV1" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="RuleengineRulesubscribersCollection" type="RuleengineRulesubscribersCollection"/>
   <xs:complexType name="RuleengineRulesubscribersCollection">
      <xs:sequence>
         <xs:element name="RuleengineRulesubscribers" type="RuleengineRulesubscribers" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RuleengineRulesubscribers">
      <xs:sequence>
         <xs:element name="rrsFrequency" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsScheduleday" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsScheduledate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsSchedulemonth" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsChannelprotocol" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsFileformat" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsStatus" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsLastmailsent" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="rrsParameters" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="rrsCustom1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsCustom2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsCustom3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsCustom4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsCustom5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsId" type="xs:decimal"/>
         <xs:element name="rrsNextscheduletime" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrsRrmRuleid" type="RuleengineRuleMaster" minOccurs="0" nillable="true"/>
         <xs:element name="rrsRcmCustomerid" type="RuleengineCustomerMaster" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RuleengineRuleMaster">
      <xs:sequence>
         <xs:element name="rrmRuleid" type="xs:decimal"/>
         <xs:element name="rrmRuledescription" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmEndpointurl" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmCategory" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmIsenabled" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmRulename" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmRuleidentifier" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmCustom1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmCustom2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmCustom3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmCustom4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rrmCustom5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RuleengineCustomerMaster">
      <xs:sequence>
         <xs:element name="rcmCustomerid">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmFirstname" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmLastname" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmEmailid" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="500"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmMobilenumber" type="xs:decimal" minOccurs="0"/>
         <xs:element name="rcmCustom1" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmCustom2" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmCustom3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmCustom4" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="rcmCustom5" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="200"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="SelectRuleEngineSubscribtionsDBAdapterV1Select_NextScheduleTimeInputParameters" type="SelectRuleEngineSubscribtionsDBAdapterV1Select_NextScheduleTime"/>
   <xs:complexType name="SelectRuleEngineSubscribtionsDBAdapterV1Select_NextScheduleTime">
      <xs:sequence>
         <xs:element name="NextScheduleTime" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>