SOA/trunk/PALS/E007/E007PALSTransactionHeadertoPortalApp/E007PALSTransactionHeadertoPortal/xsd/MergeTxnHeaderPortalDBAdapterV1_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/MergeTxnHeaderPortalDBAdapterV1" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/MergeTxnHeaderPortalDBAdapterV1" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PrtCardTransactionHeaderCollection" type="PrtCardTransactionHeaderCollection"/>
   <xs:complexType name="PrtCardTransactionHeaderCollection">
      <xs:sequence>
         <xs:element name="PrtCardTransactionHeader" type="PrtCardTransactionHeader" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrtCardTransactionHeader">
      <xs:sequence>
         <xs:element name="deltaTimestamp" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="urefTransactionId">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="palsCountryCode">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="purchaseCountryCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="prelimId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="card1_Id" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="card2_Id" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="cardId2_Info" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="odometerPortal" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="7"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="odometer" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="7"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="transactionDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="transactionTime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="stationName" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="45"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="iccInvoiceNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceNumberNonCollective" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoicingDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="purchaseCurrency" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="exchangeRate" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="iccYn" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="transactionType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="prelimStatusCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceNumberCollective" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ksid" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="partnerId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="8"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="accountId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="cardgroupMainType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="cardgroupSubType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="cardgroupSeq" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="modifiedBy" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="50"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="previousOdometer" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="7"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="palsOrderMainType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="palsOrderSubType" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderBackwardRef" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderForwardRef" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderValidCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orderCreateCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="siteNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="5"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoicedCardId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="terminalId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="terminalSeq" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="invoiceFlag" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="wmTransRefNumber" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="12"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="palsModifiedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="customerServiceId" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="portalModifiedDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>